<a href="https://colab.research.google.com/github/timhalter/PA-Addee/blob/main/PA_Addee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Imports**

In [8]:
import pandas as pd
import numpy as np

**Load dataset**

In [9]:
url = 'https://raw.githubusercontent.com/timhalter/PA-Addee/main/children_books.csv'
cs_df = pd.read_csv(url,encoding='ISO-8859-1')

cs_df.head()

                         Title  ...                           Reading_age
0  The Girl Who Drank the Moon  ...  10-14
1              Time Between Us  ...    12+
2            Girl Out of Water  ...    10+
3                      Captive  ...     13
4          The School of Music  ...    10+

[5 rows x 5 columns]

**Stemming**